# Weak human-play profile. Based on KataGo's gtp_human5k_example.cfg.
logDir = gtp_logs
logAllGTPCommunication = true
logSearchInfo = true
rules = japanese
allowResignation = true
resignThreshold = -0.95
resignConsecTurns = 3
resignMinScoreDifference = 10
resignMinMovesPerBoardArea = 0.40
maxVisits = 40
numSearchThreads = 1
lagBuffer = 1.0
delayMoveScale = 2.0
delayMoveMax = 10.0
humanSLProfile = preaz_20k
humanSLChosenMoveProp = 1.0
humanSLChosenMoveIgnorePass = true
humanSLChosenMovePiklLambda = 100000000
humanSLRootExploreProbWeightless = 0.0
humanSLRootExploreProbWeightful = 0.0
humanSLPlaExploreProbWeightless = 0.0
humanSLPlaExploreProbWeightful = 0.0
humanSLOppExploreProbWeightless = 0.0
humanSLOppExploreProbWeightful = 0.0
humanSLCpuctExploration = 0.50
humanSLCpuctPermanent = 0.2
chosenMoveTemperatureEarly = 0.85
chosenMoveTemperature = 0.70
chosenMoveTemperatureHalflife = 80
chosenMoveTemperatureOnlyBelowProb = 0.01
chosenMoveSubtract = 0
chosenMovePrune = 0
rootNumSymmetriesToSample = 1
useLcbForSelection = false
